<div class="container">

    <div class="jumbotron text-center" style="background-color:rgba(255, 255, 255, 0)">
        <h1><span class="fa fa-lock"></span> Node Authentication</h1>

        <p>Login or Register with:</p>

        <a href="/admin/login" class="btn btn-default"><span class="fa fa-user"></span> Local Login</a>
        <a href="/admin/signup" class="btn btn-default"><span class="fa fa-user"></span> Local Signup</a>
    </div>

</div>