<h1>Book a Room</h1>

<form class="form-inline" action="/room/book" method="POST">

  <label class="mr-sm-2" for="room">Room Number: </label>
  <select class="custom-select mb-2 mr-sm-2 mb-sm-0" id="room" name="room">
    <option selected>Choose...</option>
    {{#each rooms}}
      {{#if this.available}}
        <option value="{{this.id}}">{{this.id}}</option>
      {{/if}}
    {{/each}}
  </select>
  <label class="sr-only" for="firstName"></label>
  <input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" id="firstName" name="firstName" placeholder="First Name">

  <label class="sr-only" for="lastName"></label>
  <input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" id="lastName" name="lastName" placeholder="Last Name">

  <label class="sr-only" for="phoneNum"></label>
  <input type="tel" class="form-control mb-2 mr-sm-2 mb-sm-0" id="phoneNum" name="phoneNum" placeholder="Phone Number">

  <label class="sr-only" for="email"></label>
  <input type="email" class="form-control mb-2 mr-sm-2 mb-sm-0" id="email" name="email" placeholder="Email">
  <br>
  <label class="mr-sm-2" for="checkin">Check-in Date: </label>
  <input type="date" class="form-control mb-2 mr-sm-2 mb-sm-0" id="checkin" name="checkin">

  <label class="mr-sm-2" for="checkout">Check-out Date: </label>
  <input type="date" class="form-control mb-2 mr-sm-2 mb-sm-0" id="checkout" name="checkout">

  <button type="submit" id="book-room" class="btn-lg round">Book</button>
</form>

<div>
    <form action="/" method="GET">
      <button type="submit" id="go-back">Back to Home</button>
    </form>
</div>