<form style="padding: 20px;" action="/admin/book/id/:id" method="POST">
  {{#each rooms}}
    <label class="mr-sm-2" for="room"><h2>Booking Room Number #{{this.id}}</h2></label>
    <input type="hidden" name="room" value="{{this.id}}">
  {{/each}}
  <div class="form-group">
    <label class="mr-sm-2" for="firstname">First Name:</label>
    <input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" id="firstname" name="firstname" placeholder="First Name">
    <p class="validate" id="firstname-validate" style="display:none;">Please enter your first name.</p>
  </div>
  <div class="form-group">
    <label class="mr-sm-2" for="lastname">Last Name:</label>
    <input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" id="lastname" name="lastname" placeholder="Last Name">
    <p class="validate" id="lastname-validate" style="display:none;">Please enter your last name.</p>
  </div>
  <div class="form-group">
    <label class="mr-sm-2" for="phone">Phone Number:</label>
    <input type="tel" class="form-control mb-2 mr-sm-2 mb-sm-0" id="phone" name="phone" placeholder="Phone Number">
    <p class="validate" id="phone-validate" style="display:none;">Please enter your phone number.</p>
  </div>
  <div class="form-group">
    <label class="mr-sm-2" for="email">Email:</label>
    <input type="email" class="form-control mb-2 mr-sm-2 mb-sm-0" id="email" name="email" placeholder="Email">
    <p class="validate" id="email-validate" style="display:none;">Please enter your email.</p>
  </div>
  <div class="form-group">
    <label class="mr-sm-2" for="checkin">Check-in Date: </label>
    <input type="date" class="form-control mb-2 mr-sm-2 mb-sm-0" id="checkin" name="checkin">
    <p class="validate" id="checkin-validate" style="display:none;">Please select the day you will check in.</p>
  </div>
  <div class="form-group">
    <label class="mr-sm-2" for="checkout">Check-out Date: </label>
    <input type="date" class="form-control mb-2 mr-sm-2 mb-sm-0" id="checkout" name="checkout">
    <p class="validate" id="checkout-validate" style="display:none;">Please select the day you will check out.</p>
  </div>
  <button type="submit" id="book-room" class="btn btn-big btn-secondary btn-lg" onClick="return empty()">Book</button>
</form>

<div>
  <form action="/" method="GET">
    <button type="submit" id="go-back">Back to Home</button>
  </form>
</div>
<script>
  // Prevent empty input
  function empty() {
    var firstname = $("#firstname").val();
    var lastname = $("#lastname").val();
    var phone = $("#phone").val();
    var email = $("#email").val();
    var checkin = $("#checkin").val();
    var checkout = $("#checkout").val();
    var validate = true;

    if (!email) {
      $("#email-validate").show();
      validate = false;
    }
    else if (email) {
      $("#email-validate").hide();
    }
    if (!firstname) {
      $("#firstname-validate").show();
      validate = false;
    }
    else if (firstname) {
      $("#firstname-validate").hide();
    }
    if (!lastname) {
      $("#lastname-validate").show();
      validate = false;
    }
    else if (lastname) {
      $("#lastname-validate").hide();
    }
    if (!phone) {
      $("#phone-validate").show();
      validate = false;
    }
    else if (phone) {
      $("#phone-validate").hide();
    }
    if (!checkin) {
      $("#checkin-validate").show();
      validate = false;
    }
    else if (checkin) {
      $("#checkin-validate").hide();
    }
    if (!checkout) {
      $("#checkout-validate").show();
      validate = false;
    }
    else if (checkout) {
      $("#checkout-validate").hide();
    }
    return validate;
  }
</script>