<a href="/checkout">
<button type="button" class="btn btn-primary" id="book-room">Book a Room</button>
</a>

<a href="/tables">
<button type="button" class="btn btn-primary" id="reservation">Restaurant Reservation</button>
</a>

<button type="button" class="btn btn-primary" id="things-nearby">Things Nearby</button>