<div class="row">
	<div class="col-lg-12">
		<div id="body-cont">
			<div class="row">
				<div class="col-lg-6">
					<a href="/room/book">
						<button type="button" class="btn btn-big btn-secondary btn-lg" id="book-room-pg">Book Room</button>
					</a>
				</div>
				<div class="col-lg-6">
					<a href="/guest/login">
						<button type="button" class="btn btn-big btn-secondary btn-lg" id="login-pg">Login</button>
					</a>
				</div>
			</div>
		</div>
	</div>
</div>