<div id="openweathermap-widget-2" align="right"></div>

<div class="row">
	<div class="col-lg-12">
		<div id="body-cont">
			<div class="row">
				<div class="col-lg-3"></div>
				<div class="col-lg-6">
					<a href="/room/book">
						<button type="button" class="btn btn-big btn-secondary btn-lg" style="float:left;">Book Room</button>
					</a>
					<a href="/guest/login">
						<button type="button" class="btn btn-big btn-secondary btn-lg" style="float:left;">Login</button>
					</a>
					<a href="/yelp">
						<button type="button" class="btn btn-big btn-secondary btn-lg" style="float:left;">Events in This Area!</button>
					</a>
				</div>
				<div class="col-lg-3"></div>
			</div>
		</div>
	</div>
</div>


<script>window.myWidgetParam ? window.myWidgetParam : window.myWidgetParam = [];  window.myWidgetParam.push({id: 2,cityid: '5391959',appid: '304cc0a45df3431fdcaf95bc310396b0',units: 'imperial',containerid: 'openweathermap-widget-2',  });  (function() {var script = document.createElement('script');script.async = true;script.charset = "utf-8";script.src = "http://openweathermap.org/themes/openweathermap/assets/vendor/owm/js/weather-widget-generator-2.0.js";var s = document.getElementsByTagName('script')[0];s.parentNode.insertBefore(script, s);  })();</script>