<div class="row">
  <div class="col-sm-6 col-sm-offset-3">
    <h2 class="text-center" style="padding: 20px;">Guest Login</h2>
    <form action="/guest/login" method="POST">
      <div class="form-group">
        <label for="room">Room Number</label>
        <input type="number" class="form-control" id="room" name="room" placeholder="Room Number">
        <p class="validate" id="room-validate" style="display:none;">Please enter your room number.</p>
      </div>
      <div class="form-group">
        <label for="lastname">Last Name</label>
        <input type="password" class="form-control" id="lastname" name="lastname" placeholder="Last Name">
        <p class="validate" id="name-validate" style="display:none;">Please enter your last name.</p>
      </div>
      <button type="submit" class="btn btn-default" onClick="return empty()">Login</button>
    </form>
  </div>
</div>
<div class="row" style="padding-bottom:20px;"></div>
<script>
  // Prevent empty input
  function empty() {
    var name = $("#lastname").val();
    var room = $("#room").val();
    var validate = true;

    if (!name) {
      $("#name-validate").show();
      validate = false;
    }
    else if (name) {
      $("#name-validate").hide();
    }
    if (!room) {
      $("#room-validate").show();
      validate = false;
    }
    else if (room) {
      $("#room-validate").hide();
    }
    return validate;
  }
</script>