<h1>All Rooms</h1>

<ul class="list-unstyled">
  {{#each room}}
  	<li>
  		<p><span class="label">Room number:</span> {{this.room_number}}</p>
    	<p><span class="label">Available:</span> {{this.available}}</p>

		{{!-- Form should send a delete command to the server --}}
		<form>
		<input type="hidden" name="id" value="{{this.id}}">
		<button type="submit">Delete this room</button>
		</form>

      <a href="/{{this.id}}">Update this room</a>
  	</li>
  {{/each}}
</ul>