<h1>All Rooms</h1>

<div class="row">
  <div class="col-lg-9">
    {{#each room}}
    	<div>
    		<p><span class="label">Room number:</span> {{this.room_number}}</p>
      	<p><span class="label">Available:</span> {{this.available}}</p>

    		{{!-- Form should send a delete command to the server --}}
    		<form>
    		<input type="hidden" name="id" value="{{this.id}}">
    		<button type="submit">Delete this room</button>
    		</form>

        <a href="/{{this.id}}">Update this room</a>
    	</div>
    {{/each}}
  </div>
</div>