/*===================Color Scheme=====================
egg blue: #d0e4ef;

grey blue: #D4E7E8;
creme: #F3F1EA
beige: #E5E0CC;
denim: #045675;
navy: #03122B;
*/

/*==================Font Families=====================
font-family: 'Fjalla One', sans-serif;
font-family: 'Lato', sans-serif;*/

body { 
  background: url(http://dodskypict.com/D/San-Francisco-Wallpaper-On-Wallpaper-Hd-7-1920x1080.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/*body {
	background: url(https://www.airpano.com/files/San-Francisco-USA/images/image8.jpg);
}*/

.example-8{
	background-color: white;
	opacity: 0.9;
}

.example-8 .navbar-brand {
  background: url(/assets/img/LOGOfinal.png) center / contain no-repeat;
  width: 200px;
  transform: translateX(-50%);
  left: 50%;
  position: absolute;
}

div{
	opacity: 0.98;
}

p {
	font-family: 'Lato', sans-serif;
}

h1 {
	font-family: 'Fjalla One', sans-serif;
	color: black;
	font-size: 25px;
}

h3 {
	font-family: 'Fjalla One', sans-serif;
	color: #045675;
	font-size: 30px;
}

.btn-big {
  padding: 14px 24px;
  border: 0 none;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
}
 
.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none;
}

.btn-lg.round {
	border-radius: 24px;
}

#header-row {
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 15px;
	background-color: white;
}

#body-cont {
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 15px;
	background-color: white;
}

.well {
	background-color: white;
}

#search-rooms {
	margin-top: 20px;
}

.room-available,
.room-occupied,
.room-reserved {
	text-align: center;
	display: inline-block;
	width: 50px;
	height: 50px;
	line-height: 50px;
	margin-bottom: 10px;
	margin-right: 10px;
	font-size: 20px;
	font-weight: bold;
	color: #fff;
}

.room-available {
	background-color: green;
}

.room-occupied {
	background-color: red;
}

.room-reserved {
	background-color: blue;
}

.sm-room-available,
.sm-room-occupied,
.sm-room-reserved {
	width: 20px;
	height: 20px;
	margin-bottom: 10px;
	margin-right: 10px;
	float: left;
}

.sm-room-available {
	background-color: green;
}

.sm-room-occupied {
	background-color: red;
}

.sm-room-reserved {
	background-color: blue;
}

.available {
	color: green;
}

.reserved {
	color: blue;
}

.occupied {
	color: red;
}

.div-legend {
	margin-top: 10px;
}

.legend {
	line-height: 20px;
}